{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template enrol_select/manage_enrol

    Template Moodle pour gérer les formulaires de gestion des inscriptions.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * action URL du formulaire.
    * potential_users_selector Sélecteur HTML d'utilisateurs.
    * roles
      * id Identifiant du rôle.
      * name Nom du rôle.
    * status
      * id Identifiant de la liste.
      * name Nom de la liste.
    * cancel URL d'annulation du formulaire.

    Example context (json):
    {
        "action": "https://apsolu.fr/action",
        "potential_users_selector": "<select id=\"addselect\" name=\"addselect\"><option value=\"1\">test</option></select>",
        "roles": [
            {
                "id": 340,
                "name": "Évalué"
            },
            {
                "id": 341,
                "name": "Non évalué"
            }
          ],
        "status": [
            {
                "id": 340,
                "name": "Liste principale"
            },
            {
                "id": 341,
                "name": "Liste d'attente"
            }
          ],
        "cancel": "https://apsolu.fr/cancel"
    }
}}
<form method="post" action="{{ action }}" class="mform">
    <div class="enrol-select-manage-fieldset-div">
        <label for="addselect">{{# str}}users, moodle{{/ str}}</label>
        {{{ potential_users_selector }}}
    </div>

    <dl id="adduseroptionsdl" class="enrol-select-manage-fieldset-div">
        <div>
            <dt>Rôle</dt>
            <dd>
                <select class="custom-select form-control" name="role">
                    {{# roles}}
                    <option value="{{ id }}">{{ name }}</option>
                    {{/ roles}}
                </select>
            </dd>
        </div>
        <div>
            <dt>Liste</dt>
            <dd>
                <select class="custom-select form-control" name="status">
                    {{# status}}
                    <option value="{{ id }}">{{ name }}</option>
                    {{/ status}}
                </select>
            </dd>
        </div>
    </dl>

    <ul class="list list-inline">
        <li class="list-inline-item"><input class="btn btn-primary" type="submit" value="Inscrire les utilisateurs" /></li>
        <li class="list-inline-item"><a class="btn btn-secondary" href="{{cancel}}">{{#str}}cancel{{/str}}</a></li>
    </ul>
</form>
