<form method="post" action="{{action}}">
    <div>
        <label for="addselect">{{#str}}users, moodle{{/str}}</label>
        {{{current_users_selector}}}
    </div>

    <ul class="list list-inline">
        <li><input class="btn btn-primary" type="submit" value="Désinscrire les utilisateurs" /></li>
        <li><a class="btn btn-default" href="{{cancel}}">{{#str}}cancel{{/str}}</a></li>
    </ul>
</form>
