<form method="post" action="{{action}}">
    <div>
        <label for="addselect">{{#str}}users, moodle{{/str}}</label>
        {{{current_users_selector}}}
    </div>

    <p>
        <input class="btn btn-default" type="submit" value="Désinscrire les utilisateurs" />
    </p>
</form>
