{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template enrol_select/manage

    Template Moodle pour afficher les présences d'un cours.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * enrols Méthodes d'inscription enrol_select dans ce cours.
      * id Identifiant de l'instance.
      * name Nom de l'instance.
      * lock Indique si l'instance est verrouillée.
      * enrol_user_link Lien pour inscrire des utilisateurs.
      * unenrol_user_link Lien pour désinscrire des utilisateurs.
      * lists Voir l'exemple de variables dans le template manage_list.mustache.

    Example context (json):
    {
        "enrols": [
            {
                "id": 340,
                "name": "Semestre 1",
                "lock": true
            },
            {
                "id": 341,
                "name": "Semestre 2",
                "lock": false,
                "enrol_user_link": "https://apsolu.fr/enrol",
                "unenrol_user_link": "https://apsolu.fr/unenrol",
                "lists": []
            }
        ]
    }
}}
<div id="apsolu-manage-users">
    {{! Onglets semestre 1, semestre 2, etc }}
	<ul class="nav nav-tabs" id="apsolu-manage-methods-title-tab-ul" role="tablist">
	{{#enrols}}
	    <li><a aria-controls="enrol-{{id}}" aria-selected="false" class="nav-link" data-bs-toggle="tab" href="#enrol-{{id}}" role="tab">{{name}}</a></li>
    {{/enrols}}
    </ul>

	<div class="tab-content">
    {{#enrols}}
        <div id="enrol-{{id}}" class="tab-pane fade" role="tabpanel" aria-labelledby="enrol-{{id}}">
			{{^lock}}
			<ul class="list-inline text-right apsolu-manage-enrolments-ul">
				<li class="list-inline-item"><a class="btn btn-default" href="{{enrol_user_link}}">{{#pix}}t/enrolusers, core{{/pix}} {{# str}}enrolusers, enrol_manual{{/ str}}</a></li>
				{{#canunenrol}}
				<li class="list-inline-item"><a class="btn btn-default" href="{{unenrol_user_link}}">{{#pix}}t/removecontact, core{{/pix}} {{# str}}unenrolusers, enrol_manual{{/ str}}</a></li>
				{{/canunenrol}}
			</ul>
			{{/lock}}

			{{#lock}}
			<p class="alert alert-warning text-center apsolu-manage-users-locked-form-div">{{#str}}lockedform, enrol_select{{/str}}</p>
			{{/lock}}

            {{! Onglets liste des acceptés, liste principale, liste complémentaire, etc }}
            <ul class="apsolu-manage-users-tab-ul nav nav-tabs" role="tablist">
            {{#lists}}
                <li><a aria-controls="enrol-{{id}}-list-{{status}}" aria-selected="false" class="nav-link" data-bs-toggle="tab" href="#enrol-{{id}}-list-{{status}}" role="tab">{{name}} ({{count_users}}{{#max_users}}/{{max_users}}{{/max_users}})</a></li>
            {{/lists}}
            </ul>

			<div class="apsolu-manage-users tab-content">
				{{#lists}}
					{{> enrol_select/manage_list}}
				{{/lists}}
			</div>
		</div>
	{{/enrols}}
	</div>
</div>
