<form method="post" action="{{ action }}" class="mform">
    <div class="enrol-select-manage-fieldset-div">
        <label for="addselect">{{# str}}users, moodle{{/ str}}</label>
        {{{ potential_users_selector }}}
    </div>

    <dl id="adduseroptionsdl" class="enrol-select-manage-fieldset-div">
        <div>
            <dt>Rôle</dt>
            <dd>
                <select class="custom-select form-control" name="role">
                    {{# roles}}
                    <option value="{{ id }}">{{ name }}</option>
                    {{/ roles}}
                </select>
            </dd>
        </div>
        <div>
            <dt>Liste</dt>
            <dd>
                <select class="custom-select form-control" name="status">
                    {{# status}}
                    <option value="{{ id }}">{{ name }}</option>
                    {{/ status}}
                </select>
            </dd>
        </div>
    </dl>

    <ul class="list list-inline">
        <li class="list-inline-item"><input class="btn btn-primary" type="submit" value="Inscrire les utilisateurs" /></li>
        <li class="list-inline-item"><a class="btn btn-secondary" href="{{cancel}}">{{#str}}cancel{{/str}}</a></li>
    </ul>
</form>
