{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template enrol_select/overview_activities

    Template Moodle pour afficher la liste des cours ouverts aux inscriptions.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * wwwroot Correspond à la valeur de la variable Moodle $CFG->wwwroot.
    * marker_pix_url
    * roles
        * localname
        * shortname
    * is_courses_creator
    * more_than_one_site
    * count_activities
    * activities
        * description
        * name
        * sportid
        * info_pix_url
        * courses
            * enroled
            * enrolid
            * allow_enrolment
            * grouping
            * sport
            * event
            * weekday_locale
            * starttime
            * endtime
            * skill
            * area
            * longitude
            * latitude
            * location
            * city
            * role_options
                * localname
                * shortname
            * left_places_style
            * left_places_str

    Example context (json):
    {
        "wwwroot": "https://apsolu.fr",
        "marker_pix_url": "https://apsolu.fr/logo.png",
        "roles": [],
        "is_courses_creator": false,
        "more_than_one_site": false,
        "count_activities": 0,
        "activities": []
    }
}}

<h3 class="mt-4" style="border-bottom: {{ color }} solid 2px;">{{ name }}</h3>

{{! Barre d'outils au dessus de la liste des activités. }}
<div id="apsolu-activities-content-legend-div" class="alert alert-secondary">
    <div class="d-flex">
        {{! Bouton de réinitialisation des filtres. }}
        <p class="flex-shrink-1"><button class="apsolu-reset-table-filters btn btn-secondary btn-sm">{{#str}}clearfilters{{/str}}</button></p>
        {{! Liste des rôles disponibles. }}
        <div class="flex-fill">
            <h4 class="visually-hidden">Rôles</h4>
            <ul class="list list-inline text-end">
            {{#roles}}
                <li class="apsolu-roles-list-li list-inline-item">
                    <i aria-hidden="true" class="fa fa-{{fontawesomeid}}{{^fontawesomeid}}check{{/fontawesomeid}} me-1" style="color: {{color}}{{^color}}gray{{/color}};"></i><span>{{localname}}</span>
                </li>
            {{/roles}}
            </ul>
        </div>
    </div>
</div>

<div class="table-responsive">
    <table class="apsolu-activities-table table table-sortable tablesorted" id="apsolu-activities-typeid-{{ id }}">
        <caption class="visually-hidden">{{#str}}activities_list, enrol_select{{/str}}</caption>
        <thead>
            <tr>
                <th class="filter-false sorter-false">{{#str}}actions{{/str}}</th>
                <th data-column="category" class="apsolu-categories-col sorter-false">{{#str}}category, local_apsolu{{/str}}</th>
                <th data-column="sport" class="sorter-false">{{#str}}sport, local_apsolu{{/str}}</th>
                {{#headers}}
                <th data-column="{{ shortname }}" class="sorter-false">{{ label }}</th>
                {{/headers}}
                <th data-column="role" class="sorter-false">{{#str}}register_type, enrol_select{{/str}}</th>
                <th class="sorter-false">{{#str}}free_places, enrol_select{{/str}}</th>
                {{#is_courses_creator}}
                <th class="filter-false sorter-false">{{#str}}editsettings{{/str}}</th>
                {{/is_courses_creator}}
            </tr>
        </thead>
        <tbody>
            {{#activities}}
                <tr class="apsolu-sports-tr apsolu-sports-tr-activity">
                    <th class="apsolu-sports-th" colspan="12">
                        {{^ description}}
                            <span class="apsolu-sports-th-span apsolu-expandable">{{name}}</span>
                        {{/description}}
                        {{#description}}
                            <span class="apsolu-sports-th-span apsolu-expandable" aria-describedby="apsolu-sports-id-{{sportid}}">{{name}}</span>
                            <img class="apsolu-sports-description-info-img icon" data-popup="apsolu-sports-id-{{sportid}}" role="button" src="{{info_pix_url}}" alt="aide">
                            <div id="apsolu-sports-id-{{sportid}}" class="apsolu-sports-description" aria-hidden="true">{{{description}}}</div>
                        {{/description}}
                    </th>
                </tr>

                {{#courses}}
                <tr class="apsolu-sports-tr apsolu-sports-tr-course{{#enroled}} info{{/enroled}} d-none">
                    <td class="text-center">
                        {{#enroled}}
                        <a class="apsolu-enrol-a apsolu-enroled-a" data-enrolid="{{enrolid}}" href="{{www_url}}/enrol/select/overview/enrol.php?enrolid={{enrolid}}{{filters}}">
                            {{#pix}}i/completion-manual-y,core,{{#str}}edit{{/str}}{{/pix}}
                        </a>
                        {{/enroled}}
                        {{^enroled}}
                            {{#allow_enrolment}}
                                <a class="apsolu-enrol-a apsolu-not-enroled-a" data-enrolid="{{enrolid}}" href="{{www_url}}/enrol/select/overview/enrol.php?enrolid={{enrolid}}{{filters}}">
                                    {{#pix}}i/completion-manual-n,core,{{#str}}enrol,enrol_select{{/str}}{{/pix}}
                                </a>
                            {{/allow_enrolment}}
                            {{^allow_enrolment}}{{#debug}}<a class="apsolu-enrol-a" data-enrolid="{{enrolid}}" href="{{www_url}}/enrol/select/overview/enrol.php?enrolid={{enrolid}}">Debug</a>{{/debug}}{{/allow_enrolment}}
                        {{/enroled}}
                    </td>
                    <td class="apsolu-categories-col">{{grouping}}</td>
                    <td>
                        <div>{{sport}}</div>
                        {{#event}}<div><i>{{event}}</i></div>{{/event}}
                    </td>
                    {{#fields}}
                        <td>{{ . }}</td>
                    {{/fields}}
                    {{! Types d'inscription. }}
                    <td>
                        <ul class="list list-inline text-center">
                        {{#role_options}}
                            <li class="apsolu-roles-list-li list-inline-item">
                                <i aria-hidden="true" class="fa fa-{{fontawesomeid}}{{^fontawesomeid}}check{{/fontawesomeid}} me-1" style="color: {{color}}{{^color}}gray{{/color}};"></i><span class="visually-hidden">{{localname}}</span>
                            </li>
                        {{/role_options}}
                        </ul>
                    </td>
                    {{! Places disponibles. }}
                    <td id="apsolu-select-left-places-{{enrolid}}-ajax" class="table-{{left_places_style}}">{{left_places_str}}</td>

                    {{#is_courses_creator}}
                    <td><a href="{{www_url}}/enrol/instances.php?id={{id}}">{{#pix}} t/edit,core,{{#str}}editenrolment,enrol{{/str}}{{/pix}}</a></td>
                    {{/is_courses_creator}}
                </tr>
                {{/courses}}
            {{/activities}}
        </tbody>
    </table>
</div>
