<div id="apsolu-select-enrolments-ajax">

	{{^count_activity_enrolments}}
		{{^count_complement_enrolments}}
			<p class="text-center">Vous n'êtes inscrit à aucune activité.</p>
		{{/count_complement_enrolments}}
	{{/count_activity_enrolments}}

	{{! et dieu inventa le "else"...}}
	{{#count_activity_enrolments}}
		{{^count_complement_enrolments}}
		<ul class="list list-unstyled">
		{{/count_complement_enrolments}}
	{{/count_activity_enrolments}}

	{{#count_complement_enrolments}}
	<ul class="list list-unstyled">
	{{/count_complement_enrolments}}
	{{! /et dieu inventa le "else"...}}

	{{! complements }}
	{{#complement_enrolments}}
	<li>
		<a class="apsolu-enrol-a" data-enrolid="{{enrolid}}" href="{{wwwroot}}/enrol/select/overview/enrol.php?enrolid={{enrolid}}">
			{{#pix}}i/completion-manual-y,core,{{#quote}}{{#str}}edit{{/str}}{{/quote}}{{/pix}}
		</a>
		{{fullname}}
	</li>
	{{/complement_enrolments}}

	{{! activities }}
	{{#activity_enrolments}}
	<li>
		<a class="apsolu-enrol-a" data-enrolid="{{enrolid}}" href="{{wwwroot}}/enrol/select/overview/enrol.php?enrolid={{enrolid}}">
			{{#pix}}i/completion-manual-y,core,{{#quote}}{{#str}}edit{{/str}}{{/quote}}{{/pix}}
		</a>
		{{fullname}} - {{role}}
	</li>
	{{/activity_enrolments}}

	{{! et dieu inventa le "else"...}}
	{{#count_activity_enrolments}}
		{{^count_complement_enrolments}}
		</ul>
		{{/count_complement_enrolments}}
	{{/count_activity_enrolments}}

	{{#count_complement_enrolments}}
	</ul>
	{{/count_complement_enrolments}}
	{{! /et dieu inventa le "else"...}}
</div>
