<div id="apsolu-enrol-select-presentation">

  <div id="apsolu-enrol-select-presentation-courses-list2" class="table-unresponsive">
    <!-- Sélecteur de site. -->
    {{#sites_count}}
    <ul class="list-inline text-right">
      {{#sites}}
      <li><a class="btn btn-success{{#active}} active{{/active}}" href="{{wwwroot}}/apsu/enrol/select/presentation/index.php?siteid={{id}}">{{name}}</a></li>
      {{/sites}}
    </ul>
    {{/sites_count}}

    <!-- Bloc pour filtrer le tableau. -->
    <aside class="well form-inline">
      <h3>Filtres</h3>
      {{#filters}}
      <div class="form-group">
        <label for="{{name}}">{{label}}</label><br />
        {{{html}}}
      </div>
      {{/filters}}
    </aside>

    <!-- Liste des cours. -->
    <table class="table table-bordered table-sorter2 table-sortable" id="apsolu-enrol-select">
      <thead>
        <tr>
            <th class="col-md-1 hide" data-column="sites">Site</th>
            <th class="col-md-1 hide" data-column="sports">Activité</th>
            <th class="col-md-1" data-column="periods">Période</th>
            <th class="col-md-1" data-column="weekdays">Jour</th>
            <th class="col-md-1" data-column="times">Horaire</th>
            <th class="col-md-2" data-column="areas">Zone géographique</th>
            <th class="col-md-2" data-column="locations">Lieu</th>
            <th class="col-md-1" data-column="skills">Niveau</th>
            <th class="col-md-1" data-column="roles">Type d'inscription</th>
            <th class="col-md-2" data-column="teachers">{{#str}}teachers{{/str}}</th>
        </tr>
      </thead>
      <tbody>
      {{#courses}}
        <tr>
          <th colspan="10">{{name}}</th>
        </tr>
        {{#courses}}
        <tr>
          <td class="hide" data-column="sites" data-value="{{site}}">{{site}}</td>
          <td class="hide" data-column="sports" data-value="{{sport}}">{{sport}}</td>
          <td data-column="periods" data-value="{{generic_name}}">{{generic_name}}</td>
          <td data-column="weekdays" data-value="{{weekday}}">{{weekday}}</td>
          <td data-column="times" data-value="{{time}}">{{starttime}} - {{endtime}}</td>
          <td data-column="areas" data-value="{{area}}">{{area}}</td>
          <td data-column="locations" data-value="{{location}}">{{location}}</td>
          <td data-column="skills" data-value="{{skill}}">{{skill}}{{#event}}<br />({{event}}){{/event}}</td>
          <td data-column="roles">
            <ul class="list-inline2 list-unstyled">
              {{#roles}}
              <li class="apsolu-roles-list-li"><span title="{{name}}" class="apsolu-roles apsolu-roles-{{shortname}}"></span><span class="sr-only2">{{name}}</span></li>
              {{/roles}}
            </ul>
          </td>
          <td data-column="teachers">
            <ul class="list-unstyled">
              {{#teachers}}
              <li class="apsolu-teachers-list-li">{{firstname}} {{lastname}}</li>
              {{/teachers}}
            </ul>
          </td>
        </tr>
        {{/courses}}
      {{/courses}}
      </tbody>
    </table>
  </div>
</div>
